---
import { TaskIcon } from '@/icons/task'
import clsx from 'clsx'
// import { proyectos } from '@/data/data.astro'
const response = await fetch(`${Astro.request.url}/api/projects/get-projects.json`)
const proyectos = await response.json()
---

<section
	class="rounded-2xl bg-white px-5 py-8 dark:bg-night-black md:p-8 lg:p-10 2xl:p-12"
	id="portafolio"
>
	<div
		class="inline-flex items-center gap-2 rounded-full border border-platinum px-4 py-2 text-xs tracking-wide text-black dark:border-grey-black-200 dark:text-white lg:px-5"
	>
		<TaskIcon className="text-theme-color" />
		PORTAFOLIO
	</div>

	<div class="mb-8 mt-5 md:my-10">
		<h2
			class="text-[32px] font-extralight leading-[1.27] text-black dark:text-white md:text-4xl lg:text-5xl"
		>
			Destacados
			<span class="font-semibold text-theme-color">Proyectos</span>
		</h2>
		<p class="subtitle mt-4 max-w-xl md:mt-6">
			Diseño productos que son más que bonitos. Los hago enviables y utilizables, ttempor non mollit
			dolor et do aute
		</p>
	</div>
	<!--./section-title-->
	<div class="grid gap-4 sm:grid-cols-2 lg:gap-[1.875rem]">
		{
			proyectos.map((proyecto: any, index: number) => {
				// Calcula el módulo del índice para determinar el span
				let patternIndex = index % 6
				let span
				if (patternIndex === 0 || patternIndex === 3) {
					span = 2
				} else {
					span = 1
				}

				const words = proyecto.title.split(' ')
				return (
					<div
						class={clsx('group relative z-[1]', {
							'md:col-span-2': span === 2,
							'md:col-span-1': span === 1
						})}
					>
						<a
							class="block overflow-hidden rounded-xl border border-platinum p-3 dark:border-grey-black md:p-4"
							href={`/${proyecto.slug}`}
						>
							<div class="img-wrapper">
								<img
									src={proyecto.image}
									class={clsx(
										'w-full rounded-lg object-cover transition-all duration-300 group-hover:blur-[1.5px] max-md:min-h-[17rem] max-md:w-full max-md:object-center',
										{
											'md:aspect-[16/8]': span === 2,
											'md:aspect-[16/16]': span === 1
										}
									)}
									alt={proyecto.title}
								/>
								<div class="overlay absolute inset-0 rounded-xl bg-gradient-to-t from-white to-transparent opacity-0 transition-all duration-300 group-hover:opacity-100 dark:from-black" />
							</div>
							<div class="position-center z-10 scale-110 text-center text-[2.45rem] font-semibold leading-[1.15] text-black opacity-0 transition duration-500 group-hover:scale-100 group-hover:opacity-100 dark:text-white max-lg:text-3xl xl:text-[1.5rem] 2xl:text-[2rem]">
								{/* Especialización
								<span class="text-stroke">en diseño</span> */}
								{words.map((word: string, index: number) => {
									const isStyled = proyecto.highlight.includes(word)
									return (
										<span class={clsx({ 'text-stroke': isStyled })}>
											{word}
											{index < words.length - 1 ? ' ' : ''}
										</span>
									)
								})}
							</div>
						</a>
						<ul class="absolute right-6 top-6 z-10 opacity-0 transition-all duration-500 group-hover:opacity-100 md:right-9 md:top-9">
							<li>
								<a
									href="#"
									class="inline-flex items-center gap-2 rounded-3xl bg-metal-black px-5 py-3 text-sm font-light leading-none text-white transition-colors hover:text-theme-color"
								>
									{proyecto.type}
								</a>
							</li>
						</ul>
					</div>
				)
			})
		}

		<!--./portfolio-card-->
	</div>
	<div class="more-blogs md:mt-13 mt-10 text-center">
		<a
			href="#"
			class="inline-flex items-center gap-2 rounded-full border border-theme-color bg-theme-color px-9 py-[1.125rem] text-[15px] font-medium leading-none text-white transition-all duration-300 hover:border-theme-hover-color hover:bg-theme-hover-color"
			>More Projects
		</a>
	</div>
</section>
